:root {
    --background: #d44365;
    --tombol: #FF7A16;
    --putih: #FFFFFF;
  }
  
  *{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  user-select: none;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  body {
    background-color: #BC002D;
    color: #FFFFFF;
    overflow-x: hidden;
   
  }
  
  /* Navbar */
  .navbar {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 180px;
    background: linear-gradient(180deg, #1A1A1A 0%, rgba(35, 39, 54, 0) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.5s ease;
  }
  
  .navbar a{
    text-decoration: none;
    color: white;
    text-shadow: 0 0 3px #000;
    margin: 60px;
    font-weight: 600;
    transition: filter 0.3s ease;
  }
  
  .navbar a:hover{
    filter: drop-shadow(0 0 10px #fff);
  }
  
  .navbar img{
    width: 100px;
    border-radius: 50%;
  }
  
  .box-reservasi{
    margin-left: 60px;
    text-shadow: 0 0 3px #000;
    text-align: center;
    width: 120px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ffffff;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .box-reservasi:hover {
    background-color: #BC002D;
    border-color: #BC002D; 
  }
  
  .box-reservasi:active {
    background-color: hsl(346, 100%, 19%);
    border-color: hsl(346, 100%, 19%);; 
  }
  
  .box-reservasi a{
    margin: 0;
  }
/* Menu Display */
.menu-display{
  display: flex;
  justify-content: center;
  position: relative;
}

.menu-display img{
  z-index: -1;
  object-fit: cover;
  width: 100%;
  height: 1613px;
 
}

.blur{
    position: absolute;
    width: 100%;
    height: 904px;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
}


  /* OiSushi Text */
.tentang-text p{
    position: absolute;
    font-family: "Abel", sans-serif;
    height: auto;
    
    font-weight: 300;
    font-size: 100px;
    top: 10%;
    left: 41%;  
}

.shape-container {
  position: absolute;
  top: 30%;
  left: 15%;
  transform: translate(-50%, -50%);
 scale:80%;
  width: 35%;
  height: 400px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  z-index: 1;
  opacity: 100%;
}

.shape-container1_1 {
    position: absolute;
    top: 52%;
    left: 15%;
    transform: translate(-50%, -50%);
   scale:80%;
    width: 35%;
    height: 400px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    z-index: 1;
    opacity: 100%;
  }

  .shape-container1_2 {
    position: absolute;
    top: 74%;
    left: 15%;
    transform: translate(-50%, -50%);
   scale:80%;
    width: 35%;
    height: 400px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    z-index: 1;
    opacity: 100%;
  }

/* Background Shape */
.shape-container2 {
    position: absolute;
    top: 20%; 
    left: 33%;
  
    scale: 80%;
    width: 35%;
    height: 400px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    z-index: 1;
    opacity: 100%;
}

.shape-container2_1 {
    position: absolute;
    top: 42%; 
    left: 33%;
  
    scale: 80%;
    width: 35%;
    height: 400px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    z-index: 1;
    opacity: 100%;
}

.shape-container2_2 {
    position: absolute;
    top: 64%; 
    left: 33%;
  
    scale: 80%;
    width: 35%;
    height: 400px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    z-index: 1;
    opacity: 100%;
}

.shape-container3 {
    position: absolute;
    top: 20%; 
    left: 65%; 
    scale: 80%;
    width: 35%;
    height: 400px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    z-index: 1;
    opacity: 100%;
}

.shape-container3_2 {
    position: absolute;
    top: 42%; 
    left: 65%; 
    scale: 80%;
    width: 35%;
    height: 400px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    z-index: 1;
    opacity: 100%;
}

.shape-container3_3 {
    position: absolute;
    top: 64%; 
    left: 65%; 
    scale: 80%;
    width: 35%;
    height: 400px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    z-index: 1;
    opacity: 100%;
}

.promo1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:#232736;
  width: 100%;
  height: 400px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  z-index: -1;
  opacity: 50%;
}


/* Background Shape Warna */

.promo1_1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:#232736;
  width: 100%;
  height: 400px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  z-index: -1;
  opacity: 50%;
}

.promo1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:#232736;
  width: 100%;
  height: 400px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  z-index: -1;
  opacity: 50%;
}

.promo1_2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:#232736;
  width: 100%;
  height: 400px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  z-index: -1;
  opacity: 50%;
}

.promo2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#232736;
    width: 100%;
    height: 400px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    z-index: -1;
    opacity: 50%;
  }

  .promo3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#232736;
    width: 100%;
    height: 400px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    z-index: -1;
    opacity: 50%;
  }

/* Judul Promo */

.text-1 p{
  position: absolute;
  
  bottom: 83%; 
  font-family: "Montserrat", sans-serif; 
  font-weight: 700;
  font-size: 25px; 
  opacity: 100%;
  left: 32%;
}
.text-1_1 p{
  position: absolute;
  text-align: center;
  bottom: 83%; 
  font-family: "Montserrat", sans-serif; 
  font-weight: 700;
  font-size: 25px; 
  opacity: 100%;
  left: 35%;
}

.text-1_2 p{
  position: absolute;
  
  bottom: 83%; 
  font-family: "Montserrat", sans-serif; 
  font-weight: 700;
  font-size: 25px; 
  opacity: 100%;
  left: 20%;
}

.text-2 p{
    position: absolute;
    
    bottom: 83%; 
    font-family: "Montserrat", sans-serif; 
    font-weight: 700;
    font-size: 25px; 
    opacity: 100%;
    left: 23%;
  }

  .text-2_1 p{
    position: absolute;
   text-align: center;
    bottom: 83%; 
    font-family: "Montserrat", sans-serif; 
    font-weight: 700;
    font-size: 25px; 
    opacity: 100%;
    left: 20%;
  }

  .text-2_2 p{
    position: absolute;
    
    bottom: 83%; 
    font-family: "Montserrat", sans-serif; 
    font-weight: 700;
    font-size: 25px; 
    opacity: 100%;
    left: 23%;
  }
  .text-3 p{
    position: absolute;
    
    bottom: 83%; 
    font-family: "Montserrat", sans-serif; 
    font-weight: 700;
    font-size: 25px; 
    opacity: 100%;
    left: 24%;
  }

  .text-3_2 p{
    position: absolute;
    
    bottom: 83%; 
    font-family: "Montserrat", sans-serif; 
    font-weight: 700;
    font-size: 25px; 
    opacity: 100%;
    left: 13%;
  }

  .text-3_3 p{
    position: absolute;
    
    bottom: 83%; 
    font-family: "Montserrat", sans-serif; 
    font-weight: 700;
    font-size: 25px; 
    opacity: 100%;
    left: 5%;
  }

  /* Gambar Promo */

.gambarpromo1 img {
  position: absolute;
  top: 13%;
  width: 80x; 
  height: auto; 
  scale: 72%;
}

.gambarpromo1_1 img {
  position: absolute;
  top: 13%;
  width: 80x; 
  height: auto; 
  scale: 72%;
}

.gambarpromo1_2 img {
  position: absolute;
  top: 13%;
  width: 80x; 
  height: auto; 
  scale: 72%;
}


.gambarpromo2 img {
    position: absolute;
    top: 13%;
    width: 80x; 
    height: auto; 
    scale: 72%;
  }

  .gambarpromo2_1 img {
    position: absolute;
    top: 13%;
    width: 80x; 
    height: auto; 
    scale: 72%;
  }

  .gambarpromo2_2 img {
    position: absolute;
    top: 13%;
    width: 80x; 
    height: auto; 
    scale: 72%;
  }

.gambarpromo3 img {
    position: absolute;
    top: 13%;
    width: 80x; 
    height: auto; 
    scale: 72%;
  }

  .gambarpromo3_2 img {
    position: absolute;
    top: 13%;
    width: 80x; 
    height: auto; 
    scale: 72%;
  }

  .gambarpromo3_3 img {
    position: absolute;
    top: 13%;
    width: 80x; 
    height: auto; 
    scale: 72%;
  }

/* Tanggal Promo */

.tanggalpromo1 {
  position: absolute;
  font-size: 15px;
  font-weight: 1; 
  text-align: left; 
  padding: 0%;
  top: 70%;
  left: 18%;
}

.tanggalpromo1_1 {
  position: absolute;
  font-size: 15px;
  font-weight: 1; 
  text-align: left; 
  padding: 0%;
  top: 70%;
  left: 18%;
}

.tanggalpromo1_2 {
  position: absolute;
  font-size: 15px;
  font-weight: 1; 
  text-align: left; 
  padding: 0%;
  top: 70%;
  left: 18%;
}

.tanggalpromo2 {
    position: absolute;
    font-size: 15px;
    font-weight: 1; 
    text-align: left; 
    padding: 0%;
    top: 70%;
    left: 18%;
  }
  .tanggalpromo2_1 {
    position: absolute;
    font-size: 15px;
    font-weight: 1; 
    text-align: left; 
    padding: 0%;
    top: 70%;
    left: 18%;
  }

  .tanggalpromo2_2 {
    position: absolute;
    font-size: 15px;
    font-weight: 1; 
    text-align: left; 
    padding: 0%;
    top: 70%;
    left: 18%;
  }

  .tanggalpromo3 {
    position: absolute;
    font-size: 15px;
    font-weight: 1; 
    text-align: left; 
    padding: 0%;
    top: 70%;
    left: 18%;
  }
  .tanggalpromo3_2 {
    position: absolute;
    font-size: 15px;
    font-weight: 1; 
    text-align: left; 
    padding: 0%;
    top: 70%;
    left: 18%;
  }

  .tanggalpromo3_3 {
    position: absolute;
    font-size: 15px;
    font-weight: 1; 
    text-align: left; 
    padding: 0%;
    top: 70%;
    left: 18%;
  }

/* Tombol Reservasi */

.gunakan{
  position: absolute;
  color: #FFFFFF;
  top: 85%;
  left:30%;
  font-weight: bold;
  text-align: center;
  width: 200px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ffffff;
  background-color: #FF7A16;
  border-color: #FF7A16; 
}

.nextpage {
    position: absolute; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    top: 90%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    height: auto;
    font-weight: bold;
    text-align: center;
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    border-color: #FFFFFF; 
    color: #ffffff;
  }
  
  .nextpage:hover {
    background-color: #FF7A16;
    border-color: #FF7A16; 
  }
  
  .nextpage:active {
    background-color: hsl(346, 100%, 19%);
    border-color: hsl(346, 100%, 19%);; 
  }





  /* Footer */
  .footer{
    position: relative;
    height: 267px;
    background-color: #232736;
    color: white;
  }
  
  .footer .logo-text{
    position: absolute;
    top: 15%;
    left: 15%;
    width: 225px; height: 130px;
    padding: 5px;
  }
  
  .footer .logo-text img{
    width: 72px;
    height: auto;
  }
  
  .footer .logo-text span{
    font-family: Abel;
    font-size: 35px;
  }
  
  #footer-title{
    position: absolute;
    top: 10px; left: 90px;
  }
  
  #footer-tagline{
    position: absolute;
    top:50px; left: 80px;
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 13px;
  }
  
  #footer-alamat{
    font-size: 14px;
    margin: 5px;
    font-weight: 100;
    text-align: justify;
  }
  
  .footer .explore a, .footer .hubungi a{
    font-size: 18px;
    text-decoration: none;
    color: white;
    font-weight: 100;
  }
  
  .footer .explore{
    position: absolute;
    left: 45%;
    top: 30%;
  }
  
  .footer .hubungi{
    position: absolute;
    left: 65%;
    top: 30%;
  }
  
  .footer hr{
    position: absolute;
    width: 90%;
    left: 5%;
    top: 70%;
  }
  
  #cr-tag{
    position: absolute;
    top: 75%;
    left: 75%;
    font-weight: 100;
  }